[Desktop Entry]
Type=Application
Icon=harbour-pinhole
Exec=harbour-pinhole
Name=Camera
Name[ru]=камера

[X-Sailjail]
Permissions=Audio;Location;RemovableMedia;Pictures;Videos
OrganizationName=uk.co.piggz
ApplicationName=AdvancedCamera
