Priority: optional
Maintainer: unknown <unknown@debian.org>
Source: harbour-pinhole
Build-Depends: debhelper (>= 5), pkg-config, libqt5core5a, libqt5multimedia5, libqt5qml5, libqt5quick5, qtdeclarative5-dev, libexif-dev, desktop-file-utils, libcamera-dev, qtmultimedia5-dev
Standards-Version: 3.8.2
Homepage: http://github.com/piggz/harbour-pinhole

Package: harbour-pinhole
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pinhole is a camera application built ontop of libcamera.

